/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* Sections */
section {
    background: white;
    margin: 30px auto;
    padding: 30px;
    max-width: 900px;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #ff0000;
    margin-bottom: 15px;
}

/* Project Cards */
.project {
    border-left: 4px solid #0a66c2;
    padding-left: 15px;
    margin-bottom: 20px;
}

/* Skills */
.skills-list span {
    display: inline-block;
    background: black;
    color: white;
    padding: 6px 12px;
    margin: 6px;
    border-radius: 20px;
    font-size: 14px;
}

/* Contact */
#contact p {
    font-size: 16px;
}
a {
    color: #ad00fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}



